[submodule "src/kobo-docker"]
	path = src/kobo-docker
	url = https://github.com/kartoza/kobo-docker.git
[submodule "src/kpi"]
	path = src/kpi
	url = https://github.com/kobotoolbox/kpi.git
[submodule "src/kobocat"]
	path = src/kobocat
	url = https://github.com/kobotoolbox/kobocat.git
[submodule "src/kobocat-template"]
	path = src/kobocat-template
	url = https://github.com/kartoza/kobocat-template.git
	branch = develop
[submodule "src/custom_kobocat_theme"]
	path = src/custom_kobocat_theme
	url = https://github.com/kartoza/custom_kobocat_theme.git
	branch = develop
[submodule "src/custom_kpi_theme"]
	path = src/custom_kpi_theme
	url = https://github.com/kartoza/custom_kpi_theme.git
