# For public, HTTPS servers.
version: '2'
volumes:
  vols-db:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/db'
  vols-mongo:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/mongo'
  vols-static-kobocat:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/static/kobocat'
  vols-static-kpi:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/static/kpi'
  vols-kobocatmedia:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/kobocat_media_uploads'
  vols-kpimedia:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/kpi_media'
  vols-whoosh:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/whoosh'
  vols-redismaindata:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/vols/redis_main_data'
  backups-postgres:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/backups/postgres'
  backups-mongo:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/backups/mongo'
  backups-kobocat:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/backups/kobocat'
  log-rabbitmq:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/log/rabbitmq'
  log-kobocat:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/log/kobocat'
  log-kpi:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/log/kpi'
  log-nginx:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/log/nginx'
  secrets:
#    driver_opts:
#      type: none
#      o: bind
#      device: '$PWD/secrets/'
services:
  rabbit:
    volumes:
      - log-rabbitmq:/var/log/rabbitmq

  postgres:
    volumes:
      - vols-db:/srv/db
      - backups-postgres:/srv/backups
      - ../src/kobo-docker/base_images/postgres/init_postgres.bash:/etc/my_init.d/10_init_postgres.bash:ro

  mongo:
    volumes:
      - vols-mongo:/srv/db
      - backups-mongo:/srv/backups

  kobocat:
    volumes:
      - vols-static-kobocat:/srv/static
      - vols-kobocatmedia:/srv/src/kobocat/media
      - backups-kobocat:/srv/backups
      - log-kobocat:/srv/logs
      - ../src/kobo-docker/scripts/wait_for_rabbit.bash:/etc/my_init.d/01_wait_for_rabbit.bash:ro
      - ../src/kobo-docker/scripts/wait_for_mongo.bash:/etc/my_init.d/02_wait_for_mongo.bash:ro
      - ../src/kobo-docker/scripts/wait_for_postgres.bash:/etc/my_init.d/03_wait_for_postgres.bash:ro
      - ../src/kobo-docker/scripts/wait_for_kpi.bash:/etc/my_init.d/04_wait_for_kpi.bash:ro
      - ../src/kobo-docker/scripts/runtime_variables_kobocat.source.bash:/etc/profile.d/runtime_variables_kobocat.source.bash.sh:ro

  kpi:
    volumes:
      - vols-static-kpi:/srv/static
      - vols-kpimedia:/srv/src/kpi/media
      # The Whoosh search index needs persistent storage
      - vols-whoosh:/srv/whoosh
      - log-kpi:/srv/logs
      - vols-kobocatmedia:/srv/src/kobocat/media
      - ../src/kobo-docker/scripts/wait_for_rabbit.bash:/etc/my_init.d/01_wait_for_rabbit.bash:ro
      - ../src/kobo-docker/scripts/wait_for_mongo.bash:/etc/my_init.d/02_wait_for_mongo.bash:ro
      - ../src/kobo-docker/scripts/wait_for_postgres.bash:/etc/my_init.d/03_wait_for_postgres.bash:ro
      - ../src/kobo-docker/scripts/create_kobo_superuser.bash:/etc/my_init.d/20_create_kobo_superuser.bash:ro
      - ../src/kobo-docker/scripts/runtime_variables_kpi.source.bash:/etc/profile.d/runtime_variables_kpi.source.bash.sh:ro

  nginx:
    volumes:
        - vols-static-kobocat:/srv/www/kobocat
        - vols-static-kpi:/srv/www/kpi
        - vols-kpimedia:/srv/src/kpi/media
        # get the logs out of glusterfs!
        - log-nginx:/var/log/nginx
        - secrets:/tmp/kobo_toolbox_secrets/
        - ../src/kobo-docker/nginx/:/tmp/kobo_nginx/:ro
        - ../src/kobo-docker/nginx/nginx_command.bash:/etc/service/nginx/run:ro

  # Adapted from https://github.com/${REPO_NAME}/${REPO_PREFIX}_enketo-express/blob/docker/docker-compose.yml.
  enketo_express:
    volumes:
      - ../src/kobo-docker/scripts/runtime_variables_enketo_express.source.bash:/etc/profile.d/runtime_variables_enketo_express.source.bash.sh:ro
      - ../src/kobo-docker/enketo_express/config.json:/srv/tmp/enketo_express_config.json:ro
      - ../src/kobo-docker/scripts/enketo_express_copy_config.bash:/etc/my_init.d/01_enketo_express_copy_config.bash:ro
      # Override Enketo Express icons.
      - ../src/kobo-docker/enketo_express/favicon.ico:/srv/src/enketo_express/public/images/favicon.ico:ro
      - ../src/kobo-docker/enketo_express/icon_180x180.png:/srv/src/enketo_express/public/images/icon_180x180.png:ro

  # Adapted from https://github.com/${REPO_NAME}/${REPO_PREFIX}_enketo-express/blob/docker/docker-compose.yml.
  redis_main:
    # Map our "main" Redis config into the container.
    volumes:
      - vols-redismaindata:/data/
      - ../src/kobo-docker/redis/redis-enketo-main.conf:/etc/redis/redis.conf:ro

  # Adapted from https://github.com/${REPO_NAME}/${REPO_PREFIX}_enketo-express/blob/docker/docker-compose.yml.
  redis_cache:
    # Map our "cache" Redis config into the container.
    volumes:
      - ../src/kobo-docker/redis/redis-enketo-cache.conf:/etc/redis/redis.conf:ro
